In [1]:
from sklearn.dummy import DummyClassifier
import pandas as pd

In [2]:
train = pd.read_csv("train.tsv", sep='\t')
test = pd.read_csv("test.tsv", sep='\t')

In [3]:
train

,id,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x992,x993,x994,x995,x996,x997,x998,x999,x1000,y
0,1,80,?,-10,-20,-10,150,?,-510,?,...,20,60,-10,50,?,-50,?,-3860,-270,P
1,2,70,20,-20,?,-10,?,360,-440,-400,...,20,?,-90,50,?,-60,0,-3250,-750,P
2,3,80,?,20,-10,10,?,190,-500,880,...,10,?,?,60,-1310,-40,0,-3410,-630,N
3,4,60,?,?,-40,?,?,580,?,-200,...,20,60,40,60,?,-50,?,-3020,?,P
4,5,70,?,?,-10,0,230,?,30,390,...,20,?,-60,?,-1410,-50,-40,-3500,-420,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,70,80,?,0,0,180,180,-600,590,...,20,60,?,40,-1320,-40,-20,-3510,?,N
19996,19997,70,90,?,0,0,140,540,-380,?,...,10,?,-40,50,?,?,-20,-3420,-510,N
19997,19998,60,?,?,40,10,180,320,?,?,...,10,?,?,?,-1050,?,?,-3250,-520,N
19998,19999,?,?,-30,0,?,200,300,?,?,...,10,70,?,40,?,-60,-40,-3500,-850,N
19999,20000,80,70,?,-20,0,130,660,-190,-400,...,20,10,80,50,-1400,-50,?,-3490,-740,P

In [4]:
trainX = train.drop(columns=["y", "id"])
trainY = train["y"]
testX = test.drop(columns=["id"])
submission = test[["id"]].copy()

In [5]:
clsf = DummyClassifier(random_state=0)
clsf.fit(trainX, trainY)
prediction = clsf.predict(testX)

In [6]:
clsf.score(trainX, trainY)

0.70425

In [10]:
submission['y'] = prediction

In [11]:
prediction

array(['N', 'N', 'N', ..., 'N', 'N', 'N'], dtype='<U1')

In [12]:
submission

          id  y
0      20001  N
1      20002  N
2      20003  N
3      20004  N
4      20005  N
...      ... ..
12340  32341  N
12341  32342  N
12342  32343  N
12343  32344  N
12344  32345  N

[12345 rows x 2 columns]

In [7]:
submission.to_csv("submission.tsv", sep='\t')